:host ::ng-deep {
    .speeddial-linear-demo {
        .p-speeddial-direction-up {
            left: calc(50% - 2rem);
            bottom: 0;
        }

        .p-speeddial-direction-down {
            left: calc(50% - 2rem);
            top: 0;
        }

        .p-speeddial-direction-left {
            right: 0;
            top: calc(50% - 2rem);
        }

        .p-speeddial-direction-right {
            left: 0;
            top: calc(50% - 2rem);
            content: '1' !important;

        }



    }
}

:host ::ng-deep .p-speeddial-action-icon.one::before {
    content: 'Período' !important;
  }

  :host ::ng-deep .p-speeddial-action-icon.salvar::before {
    content: 'Salvar' !important;
  }


:host ::ng-deep .p-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap; /* Desabilita o wrap */
}

